@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (max-width:961px)  { 


.text-md,
h3 {
    font-size: var(--text-lg);
}


.text-sm {
    font-size: var(--text-md);
}


.text-lg {
    font-size: var(--text-xl);
}

    #bg-img{
        position: fixed;
        /* test change on width/height variables or bg-size variable */
          transform-origin: top left;
          width: 200vw;
          height: 200vh; 
          /* background: url('../assets/images/bgPix/haloBlack.jpeg'); */
          /* background-size:200vw 200vh; */
          /* background-repeat: no-repeat; */
          /* background-color: black; */
          /* background: radial-gradient(black, #9198e5); */
          background: radial-gradient(circle at 70% 60%, rgba(243, 109, 181, 0.8) 5%, rgba(245, 139, 195, 0.3) 15%, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0) 100%);
        }

    
    #map{
        z-index: 3;
        position: absolute;
        width: 100vw;
        height: 200vh;
        top: 0;
        left: 0;
        display: none;
        overflow:scroll;
      }

      #buttons-container {
        display: flex;
        justify-content: center; /* Center buttons horizontally */
        align-items: center;     /* Center buttons vertically */
        gap: 1rem;               /* Space between buttons */
        width: 80vw;
        margin: 0 auto;
        padding: 0;
        /* background-color: rgb(101, 101, 101); */

      }
    
      .buttons{
        width: max-content;
        height: auto;
        margin: 3px;
      }

      #intro-container-footer{
        position: absolute;
        top: 80%;
        width: 95vw;
      }

      #intro-container{
        position: fixed;
        top: 15vh;
        left: 3vw;
        width: 92vw;
        height: 41vh;
      }

      #title-bar-intro-container{
        width: 92vw;
        top: calc(15vh - 25px);
        left: 3vw;
      }

      #right-footer-container{
        width: max-content;
        margin-bottom: 5vh;
      }

      #intro-container-close-button{
        left: 40vw;
        z-index: 1001;
      }

      #main-title-container{
        width: 100vw;
        margin: 0 auto;
        /* text-align: left; */
      }

      .text-align-center a{
        text-align: left;
      }
    
      #logo{
        width: 20%;
        /* display: none; */
      }

      .logo_credits{
        width: 2%;
      }

  /* If to edit the flower, do it here: */
  .flowerEl-container{
    width: 200px;  /* To change the size of the flower element */
  }
    
  #title-bar-manifesto-container{
    width: 95vw;
  }


  #manifesto-container{
    top: 30vh;
    left: 2vw;
    width: 92vw;
    height: 55vh;
  }

  #title-bar-manifesto-container{
    top: calc(30vh - 25px);
    left: 2vw;
    width: 92vw;

  }

  #title-bar-index-container{
    left: 2vw;
    top: calc(30vh - 25px);
    width: 92vw;

  }

  /* Index container */
  #index-container{
    top: 30vh;
    left: 2vw;
    height: 45vh;
    width: 92vw;
  }

  /* MedInfoBox: */
  .axis-container{
    top: 30vh;
    left: 2vw;
    width: 92vw;
    /* height: 55vh; */
    height: max-content;

  }

    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (max-width:1281px) { /* hi-res laptops and desktops */ }