#body{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      /* overflow: hidden; */
}

.buttons{
    background-color: rgb(128, 128, 128);
    color: black;
}

#bg-img{
  /* test change on width/height variables or bg-size variable */
    width: 200vw;
    height: 200vh; 
    background: url('../assets/images/cascade-img.jpeg');
    background-size:100%;
    background-repeat: no-repeat;
  }

#buttons-container {
    position: fixed;
    z-index: 1;
    width: 50vw;
    /* height: 7rem; */
    top: 4%;
    left: 4%;
    /* background-color: rgb(101, 101, 101); */
  }

  #data-container{
    /* color: white; */
    position: fixed;
    z-index: 1;
    bottom: 5%;
    left: 3%;
    /* background:red; */
  }

  #manifesto-container{
    position: fixed;
    top: 25%;
    left: 25%;
    padding: 2%;
    background-color: rgb(0, 0, 0,50%);
    width: 50%;
    height: 45%;
    display: none;
    /* z-index: 10; */
    overflow: scroll;
  }

  #intro-container{
    position: fixed;
    top: 25%;
    left: 25%;
    padding: 3%;
    background-color: rgb(0, 0, 0,50%);
    width: 50%;
    height: 45%;
    display: block;
    /* z-index: 10; */
    overflow: scroll;
  }

  /* ??DOESNT WORK YET */
  .close-buttons{
    display: flex;
    right: 20%;
  }

  .flowerEl{
    top:0px;
    font-size: 25px;
    left: 0px;
    color: black;
    background-color: cadetblue;
    position:absolute;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(222, 164, 226), 0 0 5px #0000FF;
  }

  .linkEl{
    top:0px;
    font-size: 25px;
    width: 25px;
    height: 25px;
    left: 0px;
    color: black;
    position:absolute;
    z-index: 100;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(222, 164, 226), 0 0 5px #0000FF;
  }

  #zoomControls-container{
    position: fixed;
    z-index: 1;
    width: 1vw;
    /* height: 7rem; */
    bottom: 5%;
    right: 3%;
  }