
@font-face {
  font-family: "Zine";
  src: url("../assets/punkbabe/PUNKBABE TRIAL.ttf") format("truetype");
}

:root {
  /* typeface */
    /* --titleFont: The Neue, Serif;
    --bodyFont: Montserrat, Sans-serif; */
   /* set base values for text */
  
  /* 12pt     = 16px    = 1em    = 100%    = medium */
    font-size: 16px;
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

 /* type scale */
    --text-xxs: calc(var(--text-base-size) / (var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-xs: calc(var(--text-base-size) / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-base-size)* var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-base-size)* var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

 /* font sizes */
.text-xxs {
    font-size: var(--text-xxs);
}

.text-xs {
    font-size: var(--text-xs);
}


.text-sm {
    font-size: var(--text-sm);
}

body,
.text-body {
    font-size: var(--text-base-size);
}

.text-md,
h3 {
    font-size: var(--text-md);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-xxl {
    font-size: var(--text-xxl);
}

.text-xxxl {
    font-size: var(--text-xxxl)
}

#body{
    color:whitesmoke;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: "Pixelated MS Sans Serif", Arial;
      margin: 0;
      padding: 0;
      /* overflow: hidden; */
}

header{
  width: 99vw;
  padding: 1%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 11;
}

#main{
position: fixed;
top: 0;
left: 0;
z-index: 2;
height: 100vh;
/* background-color: orange; */
}

.window{
  background-color: black;
}

.window a{
  color: rgb(223, 120, 221);
}
.window a:hover{
  background-color: rgb(223, 120, 221);
  color: black;
}

.buttons{
    background-color: rgb(0, 0, 0);
    color: black;
    cursor: pointer;
    color: white;
    width: 120px;
    height: max-content;
    padding: 6px;
}

.haloClass:hover{
  background-color: white;
  color: black;
}
.haloGrass:hover{
  background-color: rgb(10, 100, 33);
  color: rgb(255, 255, 255);
}

#theme-dropdown{
  /* width: max-content; */
  padding: 6px;
}

#map{
  /* background-color: blue; */
  z-index: 3;
  position: absolute;
  width: 150vw;
  height: 200vh;
  top: 0;
  left: 0;
  display: none;
}

#bg-img{
  position: fixed;
  /* test change on width/height variables or bg-size variable */
    transform-origin: top left;
    width: 150vw;
    height: 200vh; 
    /* background: url('../assets/images/bgPix/haloBlack.jpeg');
    background-size:cover;
    background-repeat: no-repeat; */
    /* background-color: black; */
    background: radial-gradient(black, #9198e5);
    }

#buttons-container {
    padding: auto;
    align-items: center;
    display: flex;
    justify-content: space-evenly; /* Ensures equal spacing between buttons */
    width: 80vw;
    margin: 0 auto;
    /* background-color: rgb(101, 101, 101); */
  }

  #main-title-container{
    height: max-content;
    width: max-content;
    margin: 0 auto;
    display: block;
  }

  .text-align-center a{
    display: block;
    text-align: center;
    width: 100%;
    /* background-color: red; */
    padding: 0.5%;
  }

  #zine-title{
    /* width: 85%;  */
    padding: 0.5%;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    font-family: "Zine";
  }

  #default-title{
    padding: 0.5%;
    margin: 0 auto;
    width: max-content;
  }

  /* #default-title:hover{
    background-color: black;
    color: white;
  } */

  /* ??TO DEBUG */
  #logo{
    width: 15%;
    height: auto;
    cursor: pointer;
  }

  .logo_credits{
    width: 10%;
    height: auto;
  }

  /* FOOTER: */
  footer{
    /* background-color: darkmagenta; */
    position: fixed;
    width: 96vw;
    height: 10vh;
    bottom: 0;
    display: none;
    padding: 1%;
    margin: 1%;
    align-items: center;
    justify-content:space-between;
    z-index: 11;
  }

  #footnote-title{
    width: max-content;
  }

  #left-footer-container {
    display: flex;
  }

  #right-footer-container{
    width: max-content;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 5vh;
    flex-direction: column; /* Align logo and text vertically */
    align-items: flex-end; /* Aligns content to the right */
    display: flex;
  }

  #logo{
    width: 20%;
  }

  #scrolling-message{
    display: block;
    width: 20vw;
    height: max-content;
    padding-right: 100px;
  }

  #index-container{
    color: black;
    position: fixed;
    top: 25vh;
    left: 5vw;
    margin: auto;
    width: 50vw;
    height: 30vh;
    /* height: max-content; */
    display: none;
    overflow:scroll;
    overflow-x: hidden;
    z-index: 8;
  }

  #manifesto-content-eng{
    display: block;
  }

  #manifesto-content-fr{
    display: none;
  }

  #manifesto-logo-container{
    display: flex;
    justify-content: space-around;
    height: 10vh;
  }

  #title-bar-index-container{
    position: fixed;
    left: 5vw;
    top: calc(25vh - 25px);
    width: 50vw;
    z-index: 8;
    display: none;
  }

  .close-buttons{
    display: flex;
    background-color: black;
    color: white;
    right: 10%;
    cursor: pointer;
  }

    /* INTRO CONTAINER / LANDING PAGE: */
    #intro-container{
      position: fixed;
      top: 30vh;
      left: 20vw;
      width: 60vw;
      height: 60vh;
      display: flex;
      flex-direction: column;
    }

    #title-bar-intro-container{
      display: flex;
      position: fixed;
      top: calc(30vh - 25px);
      z-index: 8;
      width: 60vw;
    }

    .intro-footer {
      margin-top: auto; /* pushes it to the bottom */
      text-align: center;
      padding: 1em;
    }

    .intro-content {
      flex: 1; /* takes up all available vertical space */
      overflow-y: auto; /* adds scroll if content is too long */
    }

  #intro-container-text{
    display: flex;
    margin:0 auto;
    margin-top: 20vh;
    width: 75%;
    /* height: 45vh; */
    padding: 5%;
    /* background-color: crimson; */
  }

  #intro-container-close-button{
    color: white;
    background-color: black;
    width: max-content;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  #intro-container-close-button:hover{
    color: black;
    background-color: white;
  }

  /* MANIFESTO CONTAINER HERE */
  #title-bar-manifesto-container{
    position: fixed;
    left: 40vw;
    top: calc(30vh - 25px);
    width: 55vw;
    z-index: 8;
    display: none;
  }

  /* manifesto container */
  #manifesto-container{
    position: fixed;
    top: 30vh;
    left: 40vw;
    margin: auto;
    width: 55vw;
    height: 45vh;
    display: none;
    overflow:scroll;
    overflow-x: hidden;
    z-index: 8;
  }

  /* If to edit the flower, do it here: */
  .flowerEl-container{
    top:0px;
    font-size: 20px;
    left: 0px;
    color: rgb(255, 255, 255);
    /* background-color: rgb(202, 224, 224); */
    position: absolute;
    text-align: center;
    /* text-shadow: 1px 1px 5px rgb(222, 164, 226), 0 0 5px #0000FF; */
    /* cursor: pointer; */
    display: block;
    z-index: 4;
    width: 175px;  /* To change the size of the flower element */
    height: auto;
    overflow-x: hidden;
  }

  .flowerEl{
    text-decoration: underline;
  }

  .axisElIcon{
    width: 100%;
    cursor: pointer;
    /* background-color: #9198e5; */
    /* font-size: 150px; */
    font-size: 15vw;
  }
  .axisElIcon:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    /* text-decoration: underline; */
    background-color: #9198e5;
  }

  .flowerEl-container img{
    width: 100%;
    height: auto;
    display: block;
  }

  .iconDiv{
    background-color: blue;
    color: azure;
  }

  .linkEl{
    top:0px;
    /* font-size: 50px; */
    width: 25px;
    height: 25px;
    left: 0px;
    color: rgb(255, 255, 255);
    position:absolute;
    display: block;
    z-index: 5;
    text-align: center;
    /* text-shadow: 1px 1px 5px rgb(222, 164, 226), 0 0 5px #0000FF; */
    cursor: pointer;
  }

  /* MedInfoBox: */
  .axis-container{
    position: fixed;
    z-index: 7;
    top: 60vh;
    left: 5vw;
    display: none;
    width: 30vw;
    height: 25vh;
    /* border: 1px solid #d3d3d3; */
    overflow: scroll;
    overflow-x: hidden;
  }

  .axisBox-content{
    padding: 0.3em;
  }

  .linkElHoverDecoration{
    text-decoration-line: underline;
    /* background-color: #9198e5; */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);

  }

  .title-bar-seed-container{
    /* position: absolute; */
    width: 355px;
    /* z-index: 6; */
    
  }
  .parent-seed{
    position: absolute;
    top: 150px;
    right: 150px; 
    z-index:6;
    width: 350px;

 }

/* close button/header */
.seed-container{
    /* position: absolute; */
    display: none;
    /* top: 150px;
    right: 150px; */
    width: 350px;
    font-size: 15px;
    /* height: 230px; JE L"AI CHANGÉ À MAX-WIDTH AVRIL 2025*/ 
    height: max-content;
    /* position: absolute; */
    /* background-color: rgba(255, 0, 204, 0.8); */
    border: 1px solid #d3d3d3;
    overflow: scroll;
    overflow-x: hidden;
  }
  .seedBox-content{
    /* padding: 2%; */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .seed-column{
    /* flex: 1; */
    padding: 2%;
    width: 42%;
  }
  .seed-column2{
    padding: 2%;
    width: 45%;
    /* background-color: #0000FF; */
  }
  .span-column {
    width: 85%;
    padding: 1.5%;
  }
  
  .seed-thumbnail{
    width: 100%;
  }

  